body {
  /* background-color: #000022; */
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
